body,
html {
  margin: 0;
  padding: 0;
}

/* border-box */
head {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Navigation*/
.navbar {
  align-items: center;
  background-color: rgba(204, 204, 204, 0.9);
  color: #222;
  border-top: 5px solid rgba(64, 224, 208, 0.9);
  display: flex;
  justify-content: space-between;
  padding: 1rem 5%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.burger {
  text-transform: uppercase;
}

/* Grid */
.container {
  display: grid;
  grid-template: "header" 12rem "nav2" auto "main" auto / 1fr;
  z-index: 0;
}

.header {
  background-color: #aef2eb;
  grid-area: header;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.nav2 {
  background-color: #98eee6;
  grid-area: nav2;
}

.nav2 ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.nav2 li {
  background-color: #168a7f;
  border-radius: 20px;
  color: #e1e1e1;
  padding: .5rem 1.5rem;
}

.main {
  grid-area: main;
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(40vh, auto);
}

.main .el {
  border: 2px solid #888;
  border-radius: 10px;
}
