/* Reset */
@import 'reset';

/* Color settings */

$main-color: #40e0d0;
$text-color: #222;
$text-color-light: lighten($text-color,75);

/* border-box */

head {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Navigation */

.navbar{
  align-items: center;
  background-color: rgba(204,204,204,.9);
  color: $text-color;
  border-top: 5px solid rgba($main-color,.9);
  display: flex;
  justify-content: space-between;
  padding: 1rem 5%;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
  z-index: 1;
}

.burger {
  text-transform: uppercase;
}

/* Grid */

.container {
  display: grid;
  grid-template:
    "header" 12rem
    "nav-icon" auto
    "main" auto
    "footer" minmax(40vh,auto)
    / 1fr;
  z-index: 0;
}

/* Header */

.header {
  background-color: lighten($main-color,25);
  grid-area: header;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

/* Nav icons */

.nav-icon {
  background-color: lighten($main-color,20);
  grid-area: nav-icon;
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  li {
    background-color: darken($main-color,25);
    border-radius: 20px;
    color: $text-color-light;
    padding: .5rem 1.5rem;
  }
}

/* Main area */

.main {
  grid-area: main;
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  grid-auto-rows: minmax(40vh,auto);
  .el {
    border: 2px solid #888;
    border-radius: 10px;
  }
}

/* Footer */

.footer {
  background-color: $text-color;
  color: $text-color-light;
  display: inline-grid;
  grid-area: footer;
  grid-template-columns: repeat(auto-fit, minmax(33%,1fr));
}

.footer-logo {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

.footer-nav {
  padding: 0 1rem;
  ul {
    list-style-type: none;
    padding: 0;
  }
}
