@import 'reset';

/* Color settings */

$main-color: #40e0d0;
$text-color: #222;
$text-color-light: lighten($text-color,75);

/* border-box */

head {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Navigation */

.navbar{
  background-color: rgba(204,204,204,.9);
  color: $text-color;
  border-top: 5px solid rgba($main-color,.9);
  display: flex;
    align-items: center;
    justify-content: space-between;
  padding: 1rem 5%;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
  z-index: 1;
}

.burger {
  text-transform: uppercase;
}

/* Header */

.header {
  background-color: lighten($main-color,25);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Nav icons */

.nav-icon {
  background-color: lighten($main-color,20);
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  li {
    background-color: darken($main-color,25);
    border-radius: 20px;
    color: $text-color-light;
    padding: .5rem 1.5rem;
  }
}

/* Main area */

.main {
  .el {
    border: 2px solid #888;
    border-radius: 10px;
  }
}

.g-doc {
  width: 180px;
  height: 300px;
  frameborder: 0;
}

.multi-tw-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* Footer */

.footer {
  background-color: $text-color;
  color: $text-color-light;
}

.footer-logo {
  display: flex;
  justify-content: center;
}

.footer-nav {
  padding: 0 1rem;
  ul {
    list-style-type: none;
    padding: 0;
  }
}

@import 'grid';
